<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <script type="text/javascript"> 
            $(document).ready(function () {
                console.log('document is loaded');
                console.log(document.querySelector('input[name="selectedProject"]:checked').value);
                radioClicked();
            });


            function radioClicked() {

                console.log(document.querySelector('input[name="selectedProject"]:checked').value);
                var selectedProject = document.querySelector('input[name="selectedProject"]:checked').value;
                var myProjects = JSON.parse('<%- myProjects %>');
                for (var j = 0; j < myProjects.length; j++) {

                    //console.log(myProjects[j].name);
                    if (selectedProject == myProjects[j].name) {
                        console.log("selected project is = " + myProjects[j].name);
                        $('#selectedVersion').empty();
                        var versionsArray = myProjects[j].versions;
                        for (var k = 0; k < versionsArray.length; k++) {
                            $('#selectedVersion').append($('<option>', {
                                value: versionsArray[k].version,
                                text: versionsArray[k].version
                            }));
                        }
                    }
                }
            }
        </script>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container">
            <h2>Select the Project</h2>

            <% if ( locals.projects) { %>
                <form role="form" id="selectProject" action="/form" method="POST">
                    <div class="form-group" id="projects">

                        <table name="projects" class="projects" border="1px">
                            <tr>
                                <% for (var i=0; i < projects.length; i++) {%>
                                    <td>
                                        <div class="form-group" id="project">
                                            <% if (i == 0 ) { %>
                                                <label class="radio-inline">
                                                    <input type="radio" name="selectedProject" value="<%= projects[i].name %>" onclick="radioClicked(this)" checked>
                                                    <%= projects[i].name %>
                                                </label>
                                                <% } else { %>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="selectedProject" value="<%= projects[i].name %>" onclick="radioClicked(this)">
                                                        <%= projects[i].name %>
                                                    </label>

                                                    <% } %>
                                        </div>
                                    </td>
                                    <% } %>
                            </tr>
                        </table>

                        <h2>Select the version</h2>

                        <div class="form-group" id="versions">
                            <select id="selectedVersion" name="selectedVersion">


                            </select>
                        </div>

                    </div>

                    <input type="submit" value="Select">

                </form>

                <% } %>

        </div>

</body>

</html>