<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <script type="text/javascript"> 
            $(document).ready(function () {
                console.log('document is loaded');
                console.log(document.querySelector('input[name="selectedProject"]:checked').value);
                radioProjectClicked();
                // managing multipe drop zones
                Dropzone.autoDiscover = true;
                initDropZones();
            });

            function initDropZones() {
                Dropzone.options.dropZoneInitialId = {
                    accept: function (file, done) {
                        console.log("uploaded");
                        done();
                    },
                    init: function () {
                        this.on("addedfile", function () {
                            if (this.files[1] != null) {
                                this.removeFile(this.files[0]);
                            }
                        });
                    }
                };
                Dropzone.options.dropZoneFinalId = {
                    accept: function (file, done) {
                        console.log("uploaded");
                        done();
                    },
                    init: function () {
                        this.on("addedfile", function () {
                            if (this.files[1] != null) {
                                this.removeFile(this.files[0]);
                            }
                        });
                    }
                };
            }

            function radioProjectClicked() {

                console.log(document.querySelector('input[name="selectedProject"]:checked').value);
                var selectedProject = document.querySelector('input[name="selectedProject"]:checked').value;
                var myProjects = JSON.parse('<%- myProjects %>');

                var oneTwoVersion = document.querySelector('input[name="versionNumber"]:checked').value;
                console.log("one or two versions= " + String(oneTwoVersion));

                fillVersionSelect(myProjects, selectedProject);
            }

            function fillVersionSelect(myProjects, selectedProject) {

                var oneTwoVersion = document.querySelector('input[name="versionNumber"]:checked').value;
                console.log("one or two versions= " + String(oneTwoVersion));
                if (String(oneTwoVersion) == '1') {

                    fillOneVersion(myProjects, selectedProject, "versionInit");
                    $("#versionFinal").hide();
                    $("#drop-zone-final").hide();
                    $("#td-final-version-conf-file").hide();

                } else {
                    $("#versionFinal").show();
                    $("#drop-zone-final").show();
                    $("#td-final-version-conf-file").show();

                    fillOneVersion(myProjects, selectedProject, "versionInit");
                    fillOneVersion(myProjects, selectedProject, "versionFinal");

                }
            }

            function fillOneVersion(myProjects, selectedProject, versionId) {

                for (var j = 0; j < myProjects.length; j++) {

                    //console.log(myProjects[j].name);
                    if (selectedProject == myProjects[j].name) {
                        console.log("selected project is = " + myProjects[j].name);
                        $("#" + String(versionId)).empty();
                        var versionsArray = myProjects[j].versions;
                        for (var k = 0; k < versionsArray.length; k++) {
                            $("#" + String(versionId)).append($('<option>', {
                                value: versionsArray[k].version,
                                text: versionsArray[k].version
                            }));
                        }
                    }
                }
            }

            function radioVersionNumberClicked() {
                console.log("radio number of versions clicked");
                console.log(document.querySelector('input[name="versionNumber"]:checked').value);
                radioProjectClicked();
            }
        </script>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container">


            <% if ( locals.projects) { %>

                <form role="form" id="selectProject" action="/form" method="POST">
                    <div class="form-group" id="projects">

                        <h2>Select the Project</h2>

                        <table name="projects" class="projects" border="1px">
                            <tr>
                                <% for (var i=0; i < projects.length; i++) {%>
                                    <td>
                                        <div class="form-group" id="project">
                                            <% if (i == 0 ) { %>
                                                <label class="radio-inline">
                                                    <input type="radio" name="selectedProject" value="<%= projects[i].name %>" onclick="radioProjectClicked(this)" checked>
                                                    <%= projects[i].name %>
                                                </label>
                                                <% } else { %>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="selectedProject" value="<%= projects[i].name %>" onclick="radioProjectClicked(this)">
                                                        <%= projects[i].name %>
                                                    </label>

                                                    <% } %>
                                        </div>
                                    </td>
                                    <% } %>
                            </tr>
                        </table>
                        <table class="versionNumber" border="1px">
                            <tr>
                                <td>
                                    <label class="radio-inline">
                                        <input type="radio" name="versionNumber" value="1" onclick="radioVersionNumberClicked(this)" checked>One Version

                                    </label>
                                </td>
                                <td>
                                    <label class="radio-inline">
                                        <input type="radio" name="versionNumber" value="2" onclick="radioVersionNumberClicked(this)">Two versions
                                    </label>
                                </td>
                            </tr>
                        </table>
                        <h2>Select the version</h2>
                        <table class="version" border="1px">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <select id="versionInit" name="selectedVersionInit">


                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select id="versionFinal" name="selectedVersionFinal">


                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <input type="submit" value="Select" class="submitButton">

                </form>
                <table class="dropzones" border="1px">
                    <thead>
                        <tr>
                            <td>Initial Version Configuration File</td>
                            <td id="td-final-version-conf-file">Final Version Configuration File</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <form action="/versionInitialConfFile/" method="POST" id="dropZoneInitialId" class="dropzone">

                                </form>

                            </td>
                            <td>
                                <form action="/versionFinalConfFile" method="POST" id="dropZoneFinalId" class="dropzone">

                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <% } %>

        </div>

</body>

</html>